
:root {

}

body {

  header {

  }

  main {
    section {
      border: solid;
    }

    custom-section {
      display: block;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 0px 5px 3px lightgray;
      padding: 20px;
      margin: 20px;
    }
  }
}

